<br>
<div class="menu-container left-bar-width">
      <div class="list-group">
            <a [routerLink]="['/dashbord']" class="list-group-item list-group-item-action border-start-0 border-end-0 border-top-0 rounded-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-speedometer2"></i></div>
                        <div class="menu-item">Dashboard</div>
                  </div>
            </a>

            <a [routerLink]="['/reservation']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-life-preserver"></i></div>
                        <div class="menu-item">Reservation</div>
                  </div>
            </a>

            <a [routerLink]="['/Check-in-out']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-patch-check"></i></div>
                        <div class="menu-item">Check-in/out</div>
                  </div>
            </a>

            <a [routerLink]="['/rooms']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-hospital"></i></div>
                        <div class="menu-item">Rooms</div>
                  </div>
            </a>

            <a [routerLink]="['/billing']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-cash-stack"></i></div>
                        <div class="menu-item">Billing</div>
                  </div>
            </a>

            <a [routerLink]="['/inventory']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-collection"></i></div>
                        <div class="menu-item">Inventory</div>
                  </div>
            </a>

            <a [routerLink]="['/reporting']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-newspaper"></i></div>
                        <div class="menu-item">Reporting</div>
                  </div>
            </a>

            <a [routerLink]="['/guest-services']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-hdd-stack"></i></div>
                        <div class="menu-item">Guest Services</div>
                  </div>
            </a>

            <a [routerLink]="['/users']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-people"></i></div>
                        <div class="menu-item">Users</div>
                  </div>
            </a>

            <a [routerLink]="['/communication']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-disc"></i></div>
                        <div class="menu-item">Communication</div>
                  </div>
            </a>

            <a [routerLink]="['/guest-profile']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-person-check"></i></div>
                        <div class="menu-item">Guest Profile</div>
                  </div>
            </a>

            <a [routerLink]="['/settings']" class="list-group-item list-group-item-action border-start-0 border-end-0">
                  <div class="d-flex flex-row">
                        <div class="menu-item-ico"><i class="bi bi-gear"></i></div>
                        <div class="menu-item">Settings</div>
                  </div>
            </a>
            
      </div>
</div>


